%h3= header

%table.table.table-condensed
  %tr
    %th.text-center Stock
    %th.text-center Volume
    %th.text-center Price
    %th.text-center Change
  - values.each do |stock|
    %tr
      %td= stock.symbol
      %td.text-right= number_with_delimiter stock.volume_traded.to_i
      %td.text-right= number_with_precision stock.last_price, precision: 2, delimiter: ','
      %td.text-right{ class: stock.display_class }
        = number_with_precision stock.percent_change_close, precision: 2
